@import 'src/styles/abstracts/vars';
@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/functions';

.mobile-menu {
  @include mq-mobile {
    margin-left: auto;
  }

  @include mq-desktop {
    display: none;
  }
}

.mobile-menu__link {
  @include mq-mobile {
    display: block;
    color: $dark-grey;
    text-decoration: none;
    margin-top: 30px;
    padding-left: 16px;
  }
}

.mobile-menu__link {
  @include mq-mobile {
    display: block;
    color: $dark-grey;
    text-decoration: none;
    margin-top: 30px;
    padding-left: 16px;
  }
}